<!-- banner -->
<div class="home-banner mb-5">
  <h1 class="ml3">Smoothies</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>


<div class="container" style="display: flex; justify-content: space-around;">

  <div class="row">
    <% @smoothies.each do |smoothie| %>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
        <div class="card m-0 p-0">
              <img class="card-img-top crop" src="https://images.unsplash.com/photo-1505252585461-04db1eb84625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=652&q=80" alt="Smoothies">
              <div class="card-body">
                <h5 class="card-title">
                  <%= smoothie.name %>
                </h5>
                <p class="card-text">some text</p>
                <%= link_to 'Recipe', smoothy_path(smoothie), class: "btn btn-primary" %>
              </div>
        </div>
      </div>
    <% end %>
  <div>
</div>

<div class="container">
  <div class="container" style="width: 25em; margin-bottom: 25em; margin-top: 10em">
    <%= simple_form_for @smoothie do |f| %>
      <%= f.input :name , label: "Smoothie name" %>
      <%= f.input :doses , label: "Dosage" %>
      <%= f.input :ingredients , label: "Ingredient" %>
      <%= f.submit class:'btn btn-primary' %>
    <% end %>
  </div>
</div>
