<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col">
        <% if @smoothie.photo.present? %>
          <%= cl_image_tag @smoothie.photo.key, class: "clpic" %>
        <% else %>
          <img class="clpic" src="https://images.unsplash.com/photo-1505252585461-04db1eb84625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=652&q=80" alt="Smoothies">
        <% end %>
    </div>

    <div class="col">
      <div style="display:flex; justify-content:space-between;">
        <div>
          <h1 style="font-size: 4em;">
            <%= @smoothie.name %>
          </h1>
        </div>

        <div> 
          <%= link_to smoothy_path(@smoothie), method: :delete, data: { confirm: 'Are you sure you want to delete this smoothie?' } do %>
            <i class="far fa-times-circle icon"></i>
          <% end %>
        </div> 
      </div>


      <%# <h5 class="mb-3" style="font-size: 3em;">Ingredients</h5> %>
        <% @smoothie.doses.each do |dose| %>
          <ul class="pl-0"><h5 style="font-size: 1.5em;"><%= dose.description %> <%= dose.ingredient.name %></h5></ul>
        <% end %>

        <ul class="pl-0"><%= link_to 'Add Ingredient', new_smoothy_dose_path(@smoothie) %></ul>
    </div>
  </div>
</div>
